<section id="social">
  <div class="page-header">
    <div class="outer-container">
      <h1>Articles</h1>
    </div>
  </div>

  <div class="social-posts outer-container">
    <ul ng-controller="PostsCtrl">
      <div class="loader">
        <img class="loader" src="../static/images/balls.svg" alt="loading" ng-if="!loaded" />
      </div>

      <li ng-repeat="post in posts">
        <a href="/article/{{ post.id }}">
          <div class="image" ng-if="post.image" image-background="{{ post.image }}" />
          <p>{{ post.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</section>