//-------------------------
// About
//-------------------------

.profile {
  text-align: center;

  img {
    @include size(8em);
    border-radius: 50%;
    margin: 2em auto;
    display: block;
  }

  h1 { font-size: 4em }
}