#article {
  margin-top: 2em;
  
  .article-sidebar {
    position: static;
    @include span-columns(12 of 12);

    @include media($breakTabletLandscape) {
      @include span-columns(4 of 12);
      position: fixed;
      max-width: 30em;
    }

    .article-image {
      @include size(100% 15em);
      background-size: cover;
      background-position: 50% 50%;
    }

    .article-title { font-size: 2.5em }

    a {
      color: $colorMainBlue;
      word-wrap: break-word;
    }
  }

  .article-content {
    @include span-columns(12 of 12);
    font-size: 1.2em;
    
    @include media($breakTabletLandscape) {
      @include span-columns(7 of 12);
      float: right;
    }
  }
}