// Color variables
// Styleguide 1.0

$bodyColor: #f7f7f7;

$colorMainBlue: #00a5df;
$highlightRed: #DB565B;

$colorSuccess: #3EEC91;
$colorSuccessDarker: #35C97C;
$colorWarning: #F3C667;
$colorWarningDarker: #EAB157;

$colorBackgorund: #863636;

$colorOffWhite: #f0f0f0;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #404040;
