// Forms, inputs, fieldsets, etc.
// Styleguide 1.0.

form {
  width: 50%;
  margin: 0 auto;
}

.error {
  border: 1px solid $highlightRed;
  border-radius: 5px;
  padding: .5em 1em;
  margin-bottom: 1em;
  font-size: .9em;
  text-transform: uppercase;
  color: $highlightRed;

  .clear { clear: both }

  .icon {
    @include size(10% 4.5em);
    fill: $highlightRed;
    float: left;
    margin-right: 1em;
  }

  .error-message {
    float: left;
    width: 85%;

    h3 { margin-top: .5em }
    p { margin: .5em 0 .5em 0 }
  }
}

.success {
  border: 1px solid darken($colorSuccessDarker, 8%);
  border-radius: 5px;
  padding: .5em 1em 1em;
  font-size: .9em;
  text-transform: uppercase;
  color: darken($colorSuccessDarker, 8%);
  max-width: 600px;
  margin: 0 auto;

  .clear { clear: both }

  .icon {
    @include size(10% 4.5em);
    fill: darken($colorSuccessDarker, 8%);
    float: left;
    margin-right: 1em;
  }

  .success-message {
    float: left;
    width: 85%;

    h3 {
      margin: .5em 0 .2em;
      line-height: 1.2em;
    }
    
    h3, span { color: darken($colorSuccessDarker, 8%) }
  }
}

label {
  @include transition(color .2s);
  display: block;
  margin-bottom: 1px;
  font-size: em(10, 14);
  font-weight: 300;
  text-transform: uppercase;
  color: $colorDarkGrey;
}

input, textarea {
  width: 100%;
  display: block;
  transition: border-color .2s;
  outline: none;
  background: white;
  height: 3.3em;
  border: 1px solid $colorLightGrey;
  border-radius: 3px;
  padding: .8em 1em;
  margin-bottom: 1em;
}

textarea { height: 15em }

form hr { margin: 2em 0 }

#submit { @extend %button }
